@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins;
}
.container-payment {
  margin-top: 100px;
  text-align: center;
  /* margin: 0 400px; */
  width: 300px;
}

.desc-footer {
  justify-content: space-between;
  /* padding: 2px 200px; */
}
.desc-footer-left p {
  margin: 15px 0;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0.5px;
  text-align: left;
}
.desc-footer-right p {
  margin: 15px 0;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0.5px;
  /* text-align: center; */
  color: #3366ff;
}
