.footer {
  padding: 20px 10px;
  color: #777;
  position: relative;
  font-family: "Poppins", sans-serif;
}
.container-footer {
  padding: 40px 50px;
}
.text-icon {
  margin-top: 20px;
}
.desc-left {
  font-size: 14px;
  font-weight: bold;
  color: black;
}
.footer h3 {
  font-size: 16px;
  font-weight: bold;
  color: black;
  margin-bottom: 15px;
  font-style: medium;
}
.footer-logo {
  font-size: 1.5rem;
  color: #fff;
}
.footer .nav-links li {
  margin-bottom: 5px;
}
.text-list {
  color: #999999;
  text-decoration: none;
  font-size: 12px;
}
.text-list:hover {
  color: black;
}

.footer .social li {
  display: inline-block;
}
.icon {
  color: gray;
  padding: 5px;
  text-decoration: none;
}
.icon:hover {
  color: black;
}

.copyright p {
  font-size: 14px;
  color: #5a7184;
  font-weight: 600;
  padding-left: 30px;
}
